html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.screen {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.pathElement {
  stroke: hsl(0, 0%, 100%);
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: hsl(0, 0%, 100%);
}






/*  music player  */
.musicPlayerBoard {
  width: 450px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  position: relative;
  border-radius: 5px;
}
.musicPlayerBoard::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 100%);
  opacity: 0.3;
  border-radius: 5px;
}
    /* name of music player */
    .musicPlayerType {
      width: 100%;
      height: 25%;
      position: absolute;
      top: 0%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
        .playerBrand {
          width: 45px;
          height: 45px;
          background-image: url("../img/spotify4.png");
          background-repeat: no-repeat;
          background-size: contain;
        }
    /*.musicPlayerType::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: hsl(0, 0%, 100%);
      opacity: 0.3;
      position: absolute;
      bottom: 0%;
      left: 0%;
    }*/
    /* controller of music player */
    .playerController {
      width: 100%;
      height: 15%;
      position: absolute;
      bottom: 0%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .playerController::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: hsl(0, 0%, 100%);
      opacity: 0.3;
      position: absolute;
      top: 0%;
      left: 0%;
    }
    .playerButton {
      width: 30px;
      height: 30px;
      margin-left: 20px;
      margin-right: 20px;
    }
        .playerButtonSvg {
          width: 100%;
          height: 100%;
        }
        .transformSvg {
          transform-origin: center;
          transform: rotateZ(180deg);
        }
    /* music info */
    .musicInfo {
      width: 100%;
      height: 60%;
      position: absolute;
      top: 25%;
      display: flex;
      align-items: center;
    }
        .albumCover {
          width: 180px;
          height: 180px;
          background-image: url("../img/album2.jpeg");
          background-repeat: no-repeat;
          background-size: contain;
        }
        .albumInfo {
          width: calc(100% - 180px);
          height: 180px;
        }
            .albumInfo--style {
              margin: 0;
              margin-top: 10px;
              padding-left: 30px;
            }
            .albumInfo__title {
              color: #FFF;
            }
            .albumInfo__song {
              color: #FFF;
              font-size: 1rem;
            }
            .albumInfo__player {
              color: #FFF;
              opacity: 0.5;
              font-size: 0.8rem;
            }





/***********************************/
/*         control board           */
/***********************************/
.controlBoard {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
    .controlButton {
      width: 30px;
      height: 30px;
      background-color: hsl(0, 0%, 100%);
      border-radius: 50%;
    }
    .unlock,
    .restart,
    .shutdown {
      position: relative;
    }
    .unlock::after {
      content: "unlock";
      display: block;
      width: 100px;
      text-align: center;
      color: hsl(0, 0%, 100%);
      position: absolute;
      bottom: -25px;
      left: -35px;
    }
    .restart::after {
      content: "restart";
      display: block;
      width: 100px;
      text-align: center;
      color: hsl(0, 0%, 100%);
      position: absolute;
      bottom: -25px;
      left: -35px;
    }
    .shutdown::after {
      content: "shutdown";
      display: block;
      width: 100px;
      text-align: center;
      color: hsl(0, 0%, 100%);
      position: absolute;
      bottom: -25px;
      left: -35px;
    }





/*  sign in board  */
.signInBoard {
  display: none;
}
