html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
input:focus {
  outline: none;
}
.screen {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-image: url("../img/background3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.pathElement {
  stroke: hsl(0, 0%, 100%);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: transparent;
}
.musicPlayerPath {
  stroke-width: 1;
}






/*  music player  */
.musicPlayerBoard {
  width: 280px;
  height: 470px;
  position: absolute;
  left: calc((100% - 280px) / 2);
  top: 80px;
  border-radius: 5px;
  transform-origin: center;
  /*display: none;*/
}
.musicPlayerBoard::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 100%);
  opacity: 0.3;
  border-radius: 5px;
}
.disappearMusicPlayer {
  transform: scale(0);
  transition: transform 0.3s ease-out;
}
    /* album cover */
    .albumCover {
      width: 90%;
      height: 252px;
      background-image: url("../img/album2.jpeg");
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 3%;
      left: 5%;
    }
    .albumContext {
      margin: 0;
      text-align: center;
      width: 100%;
      color: #FFF;
      font-weight: 100;
    }
    .albumTitle {
      position: absolute;
      top: 58%;
    }
    .albumPlayer {
      position: absolute;
      top: 63%;
    }

    /* controller of music player */
    .playerController {
      width: 100%;
      /*height: 15%;*/
      position: absolute;
      bottom: 11.5%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .playSong {
      width: 50px;
      height: 50px;
      margin-left: 20px;
      margin-right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #FFF;
      border-radius: 50%;
    }
    .playerButton {
      width: 30px;
      height: 30px;
      margin-left: 20px;
      margin-right: 20px;
    }
        .playerButtonSvg {
          width: 30px;
          height: 30px;
        }
        .transformSvg {
          transform-origin: center;
          transform: rotateZ(180deg);
        }
    /* time box */
    .timeBox {
      width: 95%;
      position: absolute;
      bottom: 10px;
      left: 2.5%;
    }
        .passedTime {
          color: hsl(0, 0%, 100%);
          font-size: 0.8rem;
          font-weight: 100;
          float: left;
        }
        .timeOfEnd {
          color: hsl(0, 0%, 100%);
          font-size: 0.8rem;
          font-weight: 100;
          float: right;
        }
    /* playing bar */
    .playingBar {
      width: 100%;
      height: 5px;
      position: absolute;
      bottom: 0%;
      left: 0%;
      background-color: hsl(0, 0%, 70%);
    }
    .playingState {
      width: 20%;
      height: 5px;
      background-color: hsl(0, 0%, 100%);
      /*transition: width 0.3s linear;*/
      animation: runPlayingState 224s ease-out infinite;
    }
    @keyframes runPlayingState {
      0% {
        width: 20%;
      }
      100% {
        width: 100%;
      }
    }





/***********************************/
/*         control board           */
/***********************************/
.controlBoard {
  width: 25%;
  position: absolute;
  bottom: 100px;
  left: 37.5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*display: none;*/
}
    .controlButton {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
    .unlock,
    .restart,
    .shutdown {
      position: relative;
    }
    .unlock {
      background-image: url("../img/lock.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .unlock::after {
      content: "unlock";
      display: block;
      width: 100px;
      text-align: center;
      color: hsl(0, 0%, 100%);
      position: absolute;
      bottom: -25px;
      left: -35px;
    }
    .restart {
      background-image: url("../img/restart.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .restart::after {
      content: "restart";
      display: block;
      width: 100px;
      text-align: center;
      color: hsl(0, 0%, 100%);
      position: absolute;
      bottom: -25px;
      left: -35px;
    }
    .shutdown {
      background-image: url("../img/shutdown.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .shutdown::after {
      content: "shutdown";
      display: block;
      width: 100px;
      text-align: center;
      color: hsl(0, 0%, 100%);
      position: absolute;
      bottom: -25px;
      left: -35px;
    }





/*  sign in board  */
.unlockBoard {
  width: 300px;
  /*height: 300px;*/
  position: absolute;
  left: calc((100% - 300px)/ 2);
  top: 237.5px;
  transform-origin: center;
  transform: scale(0);
}
.displayUnlockBoard {
  transform: scale(1);
  transition: transform 0.3s ease-out;
}
    .headPic {
      width: 70px;
      height: 70px;
      background-image: url("../img/headimg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
      position: relative;
    }
    .username {
      margin-top: 10px;
      color: hsl(0, 0%, 100%);
      text-align: center;
    }
    .password {
      width: 200px;
      height: 25px;
      font-size: 0.8rem;
      color: hsl(0, 0%, 100%);
      background-color: rgba(225, 225, 225, 0.3);
      display: block;
      border: 0;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 5px;
      text-indent: 5px;
      letter-spacing: 1.5px;
    }
    .password::placeholder {
      color: hsl(0, 0%, 100%);
    }
    .signinButton {
      width: 30px;
      height: 30px;
      background-color: rgba(225, 225, 225, 0.3);
      border-radius: 50%;
      position: absolute;
      top: 126.25px;
      right: 10px;
    }
        .signinSvg {
          width: 100%;
          height: 100%;
        }





/***********************************/
/*            desktop              */
/***********************************/
.desktop {
  width: 100%;
  height: 100%;
  background-image: url("../img/desktop-screenshot.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0%;
  top: 0%;
  transform-origin: center;
  transform: scale(0);
}
.displayDesktop {
  transform: scale(1);
  transition: transform 0.3s ease-out;
  z-index: 10;
}
